* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}


.wrapper {
    width: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 0 10px;

}

.menu {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    background-color: #262626;
    text-align: center;

}

.content_raw {
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    margin: 0 auto;
    color: #989898;
    font-size: larger;
    text-align: center;
}

.menu a:hover {
    cursor: pointer;
    text-decoration: underline;
}


.main_contant_page {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    padding: 10px;
}

.first-page {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    text-align: center !important;
    position: relative !important;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;

}

.text a:hover {
    cursor: pointer;
    background-color: #6c757d;
    color: #e5e5e5;
}

.first-page text {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;

}

.para {
    padding: 1rem !important;
    font-weight: normal;
    font-size: 1.25rem;
    margin-bottom: 0.50rem;
    margin-top: 0.50rem;
    padding: 3rem !important;
    position: relative, !important;
    box-sizing: border-box;
}

.punnyheadline {
    font-weight: 400 !important;
    display: 4;
    font-size: 3.5rem;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}


.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device2 {
    position: absolute;
    border-radius: 21px;
    top: -38%;
    overflow: hidden;
    right: auto;
    bottom: 0;
    left: 11%;
    background-color: #e5e5e5;
    width: 300px;
    height: 540px;
    transform: rotate(30deg);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.product-device2::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.second-page {
    width: 100% !important;
    display: flex;

}

.outerBox {
    width: 50%;
    color: #fff !important;
    /* background-color: #343a40 !important; */
    text-align: center;
}

.uptext {
    width: 50%;
    margin: 0 auto;
    height: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.headline {
    font-size: 44px;
    padding-top: 10%;
}

.flex-container {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.flex-item {
    width: 50%;
    display: flex;
}

.flex-item>div {
    flex: 1;
    margin: 0.5em;
}

.outerBox .box {
    width: 80%;
    height: 43vh;
    border-radius: 21px 21px 0 0;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    margin: 0 70px;
    /* background-color: #f8f9fa !important; */
}

.black-background{
    background-color: #343a40;
}

.white-background{
    background-color: #ffffff;
}
.blue-background{
    background-color: #007bff;
}

.gray-background{
    background-color: #f8f9fa;
}

.black-font{
    color: black;
}
.white-font{
    color: white;
}

.row {
    display: flex;
    width: 100%;
}

.row ul li a {
    color: #343a40
}

.row ul li a:hover {
    text-decoration: underline;
}

.symbol {
    width: 20%;
    align-items: flex-start;
}

.features {
    width: 20%;
}

.Resources {
    width: 20%;
}

.Resource {
    width: 20%;
}

.about {
    width: 20%;
}


footer {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    text-decoration: none;
}

h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}
